  <div class="dashboard-container">
    <div class="welcome-box">
      <h2 class="wel">Welcome back, <span class="text-amber-400">{{ username || 'User' }}</span> <span class="emoji">👋</span></h2>
      <p>Here are your assigned projects</p>
    </div>
  
    <div *ngIf="isLoading" class="loading-container">
      <div class="loading-spinner"></div>
    </div>
  
    <div class="projects-list" *ngIf="!isLoading && projects.length > 0">
      <a
        *ngFor="let project of projects; let i = index"
        class="project-card"
        [style.--i]="i"
        [routerLink]="['/projects', project.projectId, 'summary']"
      >
        <h3>{{ project.name }}</h3>
        <p>{{ project.description }}</p>
    </a>
    </div>
  
    <div
  *ngIf="!isLoading && projects.length === 0"
  class="flex flex-col items-center text-center py-12"
>
  <div class="text-6xl mb-4">🧍‍♂️</div>

  <h3 class="text-xl font-semibold text-gray-200 mb-2">
    No Projects Assigned... Yet 😶
  </h3>
  <p class="text-gray-400 max-w-md">
    Just standing here like, <br>
    <span class="italic">“Should I start a side hustle or take a nap?”</span>
  </p>

</div>
