<nav class="w-full bg-neutral-900 text-gray-300 border-b border-neutral-800">
  <div class="flex items-center px-4 py-2">
    <div class="flex items-center space-x-2 mr-6">
      <span class="font-semibold text-lg">{{ projectName }}</span>
    </div>

    <div class="flex items-center space-x-6">
      <a
        [routerLink]="['/projects', projectId, 'summary']"
        routerLinkActive="text-blue-400 font-bold"
        class="hover:text-blue-400"
        >Summary</a
      >
      <a
        [routerLink]="['/projects', projectId, 'boards']"
        routerLinkActive="text-blue-400 font-bold"
        class="hover:text-blue-400"
        >Board</a
      >
      <a
        [routerLink]="['/projects', projectId, 'list']"
        routerLinkActive="text-blue-400 font-bold"
        class="hover:text-blue-400"
        >List</a
      >
    </div>

    <div class="ml-auto flex items-center space-x-3"></div>
  </div>
</nav>
