<nav class="w-full bg-neutral-900 text-gray-300 border-b border-neutral-800">
  <div class="flex items-center px-4 py-2">
    <!-- Project Title -->
    <div class="flex items-center space-x-2 mr-6">
      <!-- <img src="" alt="Project" class="w-6 h-6" /> -->
      <span class="font-semibold text-lg">{{ projectName }}</span>
    </div>

    <!-- Navigation Tabs -->
    <div class="flex items-center space-x-6">
      <a
        [routerLink]="['/projects', projectId, 'summary']"
        routerLinkActive="text-blue-400 font-bold"
        [routerLinkActiveOptions]="{ exact: true }"
        class="hover:text-blue-400 cursor-pointer"
        >Summary</a
      >
      <a
        [routerLink]="['/projects', projectId, 'boards']"
        routerLinkActive="text-blue-400 font-bold"
        [routerLinkActiveOptions]="{ exact: true }"
        class="hover:text-blue-400 cursor-pointer"
        >Board</a
      >
      <a
        [routerLink]="['/projects', projectId, 'forms']"
        routerLinkActive="text-blue-400 font-bold"
        [routerLinkActiveOptions]="{ exact: true }"
        class="hover:text-blue-400 cursor-pointer"
        >Forms</a
      >
      <a
        [routerLink]="['/projects', projectId, 'list']"
        routerLinkActive="text-blue-400 font-bold"
        [routerLinkActiveOptions]="{ exact: true }"
        class="hover:text-blue-400 cursor-pointer"
        >List</a
      >

      <a class="hover:text-blue-400 cursor-pointer">+</a>
    </div>

    <!-- Right Side Icons -->
    <div class="ml-auto flex items-center space-x-3">
      <button class="p-2 hover:bg-neutral-800 rounded-lg">🔗</button>
      <button class="p-2 hover:bg-neutral-800 rounded-lg">⚡</button>
      <button class="p-2 hover:bg-neutral-800 rounded-lg">⛶</button>
    </div>
  </div>
</nav>
